{% load static %}
<!-- HTML -->
<div class="sponsors-section">
  <div class="sponsors-container">
    <div class="sponsors-header">
      <h2 class="sponsors-title">SPONSORS</h2>
      <button class="view-all-btn">View all sponsors</button>
    </div>

    <div class="sponsors-grid">
<!--       <p class="sponsors-categories">Platinum</p>
      <div class="sponsor-row">

      </div>

    <p class="sponsors-categories">Gold</p>
      <div class="sponsor-row">

      </div>

    <p class="sponsors-categories">Silver</p>
      <div class="sponsor-row">

    </div>
      
    <p class="sponsors-categories">Bronze</p>
      <div class="sponsor-row">

      </div>

    <p class="sponsors-categories">Sponsor</p>
      <div class="sponsor-row">

      </div> -->
      
      <p class="sponsors-categories">Grants</p>
      <div class="sponsor-row">
      <a href="https://www.djangoproject.com/foundation/">
        <img src="{% static 'images/sponsors/dsf.png' %}" class="sponsor large" alt="DSF Logo" />
      </a>
      </div>
      
      <p class="sponsors-categories">Organizer</p>
      <div class="sponsor-row">
        <a href="https://www.evolutio.pt/" target="_blank" class="sponsor-logo">
          <img
            src="{% static 'images/sponsors/evolutio.png' %}"
            alt="Ad Evolutio"
          />
        </a>
      </div>
        <button class="view-all-btn-mobile">View all sponsors</button>
    </div>
  </div>
</div>
