{% load static%}

<!-- HTML -->
<div class="past-editions">
    <h2 class="editions-title", style="text-align:left">TAKE A LOOK AT PAST EDITIONS</h2>
    
    <div class="editions-grid">
        <!-- Large image span left -->
        <div class="grid-item large">
            <img src="{% static 'images/past/vigo.png'%}" alt="DjangoCon Europe crowd at harbor" />
        </div>
        
        <!-- Medium image right top -->
        <div class="grid-item medium">
            <img src="{% static 'images/past/djc1.png'%}" alt="DjangoCon Europe audience" />
        </div>
        <!-- Medium image right top -->
        <div class="grid-item small">
            <img src="{% static 'images/past/social.png'%}" alt="DjangoCon Europe audience" />
        </div>
        
        <!-- Green card Vigo -->
        <div class="grid-item card">
            <div class="edition-card">
                <h3>DJANGOCON EUROPE</h3>
                <p>2024 VIGO</p>
            </div>
        </div>
        
        <!-- Large image right -->
        <div class="grid-item large">
            <img src="https://2024.djangocon.eu/static/images/home_carousel/hp-carousel-img-1.d9b9709448a8.jpg" alt="DjangoCon Europe crowd cheering" />
        </div>
        
        <!-- Social event image -->
        <div class="grid-item small">
            <img src="{% static 'images/past/ride.png'%}" alt="DjangoCon Europe social event" />
        </div>
        <div class="grid-item small">
            <img src="https://cdn.fosstodon.org/media_attachments/files/112/577/515/790/202/282/small/e2ae88c233bae3d0.jpg" alt="Conference room" />
        </div>
        {% comment %} <!-- Large crowd image -->
        <div class="grid-item large">
            <img src="https://2024.pycon.pt/static/images/speakers/JuliusBoakye.jpg" alt="Super Bock Arena crowd" />
        </div>
         {% endcomment %}
        <!-- Edinburgh card -->
        <div class="grid-item card">
            <div class="edition-card">
                <h3>DJANGOCON EUROPE</h3>
                <p>2023 EDINBURGH</p>
            </div>
        </div>
        
        <!-- Conference room image -->
        <div class="grid-item small">
            <img src="{% static 'images/past/talk.png'%}" alt="Conference room" />
        </div>
        
        
        
        <!-- Audience image -->
        <div class="grid-item medium">
            <img src="{% static 'images/past/conf.png'%}" alt="Audience in seats" />
        </div>
        <div class="grid-item small">
            <img src="https://pbs.twimg.com/card_img/1857136859119575042/D6l0_GgW?format=jpg&name=medium" alt="Audience in seats" />
        </div>
        
        <!-- Porto card -->
        <div class="grid-item card">
            <div class="edition-card">
                <h3>DJANGOCON EUROPE</h3>
                <p>2022 PORTO</p>
            </div>
        </div>
    </div>
</div>

<style>

</style>