{% load static %}


<div class="scrolling_text">
    <div class="text">
        <span style="color: var(--primary-light);">
            JOIN US FOR FIVE DAYS OF TALKS, SPRINTS AND TUTORIALS IN DUBLIN 🇮🇪
        </span>
        <span style="color: #efedd0;">
            CFP IS OPEN! <a href="https://pretalx.evolutio.pt/djangocon-europe-2025/cfp">SUBMIT YOUR TALK/WORKSHOP NOW</a>
        </span>
        <span style="color: var(--golden);">
            EARLY BIRD TICKETS AVAILABLE! <a href="https://pretix.evolutio.pt/evolutio/djceu2025/">GRAB YOUR TICKETS</a>
        </span>
        <span style="color: var(--primary-light);">
            <a href="/sponsors/sponsorship/">BECOME A SPONSOR!</a> GAIN VALUABLE EXPOSURE FOR YOUR BRAND
        </span>
    </div>
</div>