{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}

<!-- Main Section -->

<div class="hero-section">
  <div class="hero-container">
      <div class="hero-content">
          <h1>Five days of talks,<br>sprints, and tutorials<br>in Dublin</h1>
          <span class="hero-date">23rd-27th April 2025</span>
          <a href="#" class="hero-btn"style="text-decoration:none;">Grab your ticket now</a>
      </div>
  </div>
  <div class="hero-image">
      <img src="{% static 'images/other/building_dublin.png' %}" alt="Dublin city skyline">
  </div>
</div>
{% comment %} <div class="homepage-container">
  <!-- Animated Title -->
  <div class="countdown-container text-center">
    <h1 id="dates_title" class="animated-title"></h1>
  </div>


  

 
</div> {% endcomment %}



{# SLIDE TEXT #}
{% comment %} {% include 'modules/default.html' with content=files.0|markdown %} {% endcomment %}


{# HOME-ABOUT #}
{% include 'modules/default.html' with content=files.1|markdown %}


{# IMPORTANT DATES #}
{% comment %} {% include 'modules/default.html' with content=files.3|markdown %} {% endcomment %}



{# HOME-SPEAKERS #}
{% include 'modules/default.html' with content=files.4|markdown %}



{# TICKETS #}
{% include 'modules/default.html' with content=files.2|markdown %}


{# HOME-SPONSORS #}
{% comment %} {% include 'modules/default.html' with content=files.5|markdown %} {% endcomment %}


{# LATEST NEWS #}
{% comment %} {% include 'modules/default.html' with
{# ABOUT#}
{# {% include 'templates/default.html' with content=files.0 %}#}


{# LATEST-NEWS#}
{# {% include 'modules/home/news.html' %}#}


{# PORTO-INFO#}
{% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

{# SPONSORS#}
{# {% include 'modules/default.html' with content=files.2 %}#}

{# MAILING-LIST#}
{# {% include 'modules/home/mailing.html' %}#}



{% endblock content %}
